body {
  overflow-x: hidden;
}
.main{
	background-color: #fff9f9;
	position: fixed;
	top: 0;
	z-index: 9999;
	border-bottom: 2px solid rgba(152, 152, 152, 0.93);
}
.logo{
	display: inline-block;
	height: 80px;
}
.mob{
	font-size: 20px;
	font-weight: 700;
}
@import url(https://fonts.googleapis.com/css?family=Lato:700,900);

.Hero_text{
	display: inline-block;
	font-size: 36px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: lato;
	background: -webkit-linear-gradient(#23283c, #00fff5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-border{
	height: 8px; margin-top: 93px; background-color: rgba(55, 184, 239, 0.85);
}
@media only screen and (max-width : 767px){
	.nav-border{
		margin-top: 200px !important;
	}
}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: linear-gradient(rgba(0, 255, 255, 0.2), rgba(0, 255, 255, 0.2)),url('../img/img1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.carousel-image-2 {
  background: linear-gradient(rgba(0, 255, 255, 0.3), rgba(0, 255, 255, 0.3)), url('../img/img2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: linear-gradient(rgba(0, 255, 255, 0.1), rgba(0, 255, 255, 0.1)), url('../img/img3.jpg');
  background-attachment: fixed;
  
  background-position: center;	 
}
.hero-text{
	display: inline-block;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url('../img/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

#page-header {
  height: 200px;
  background: url('../img/about.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

#main-footer {
  color: #fff;
}
